<div class="about"><img class="about" src="/img/5.jpg">
  <div class="centered">
    <p class="about">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo dolorum sed, soluta consequatur sapiente ullam?
      Dicta mollitia nobis iusto enim aut necessitatibus quibusdam qui assumenda dolore soluta! Quis optio dolorum
      corporis amet architecto consequuntur, iste odit natus tenetur molestias doloribus.
    </p>
  </div>
</div>