<%- layout('layouts/main')%>

<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card mt-4 text-center">
      <div class="card-header">
        <h3>Iniciar Session</h3>
      </div>
      <div class="card-body">
        <form action="/signin" method="POST">
          <div class="form-group">
              <input type="email" name="email" placeholder="Email" class="form-control">
          </div>
          <div class="form-groip">
              <input type="password" name="password" placeholder="Password" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary btn-block mt-4">
            Iniciar Session
          </button>
        </form>

      </div>
    </div>
  </div>
</div>
