<div class="col-md-4 mx-auto">
  <p>{{msg}}</p>
  <div class="card text-center">
    <div class="card-header">
      <h3>NEW NOTE</h3>
    </div>
    <div class="card-body">
      <form action="/notes/new-note" method="POST">
        <div class="form-group">
          <input type="text" name="title" class="form-control" placeholder="Title" autofocus/>
        </div>
        <div class="form-group">
          <textarea name="description" class="form-control" placeholder="Description"></textarea>
        </div>

        <div>
           <input type="file" name="upfile" value="">
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            SAVE
          </button>
        </div>
        
      </form>

      <!--
          <form class="fileupload" action="/upload" method="post" enctype="multipart/form-data">
      <h1>Upload File Here</h1>
      <input type="file" name="upfile" value="">
      <input type="submit" />

    -->

    </form>
    </div>
  </div>
 
</div>

